modules = ["powershell", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VoiceCommander"

[[workflows.workflow]]
name = "VoiceCommander"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pwsh -NoProfile -Command \"Import-Module ./VoiceCommander/VoiceCommander.psm1; Start-VoiceCommand -TextOnly -OpenAIKey $env:OPENAI_API_KEY -Verbose\""

[deployment]
run = ["sh", "-c", "pwsh -NoProfile -Command \"Import-Module ./VoiceCommander/VoiceCommander.psm1; Start-VoiceCommand -TextOnly -OpenAIKey $env:OPENAI_API_KEY -Verbose\""]
